*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 1em;
}

.box {
    box-sizing: border-box;
	margin: 100px auto;
	padding: 2.5%;
	display: block;
	width: 25%;
	background: #fff;
	text-align: center;
	border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.9);
}

.background {
	background: fixed;
	display: block;
	background-image: url(../../static/Background_Login.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

a.btn{
    text-decoration: none;
    color: black;
}

.btn {
	border-radius: 40px;
	background-color: #37DA1B;
    border: 2px solid black;
    padding: 5px 10px;
    width: 40%;
}

h2 span{
    text-shadow: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
    font-size: 1.5em;
}

label{
    text-align: left;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"]{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: .5em .5em;
}
