*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    color: black;
}

body{
    font-size: 1em;
}

.background {
	background: fixed;
	display: block;
	background-image: url(../../static/Background_Login.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.box {
    box-sizing: border-box;
	display: block;
	background: #fff;
	text-align: center;
	border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.9);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 35%;
    padding: 50px;
}

h2 span{
    text-shadow: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
    font-size: 1.5em;
}

label{
    text-align: left;
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
input[type="password"]{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: .5em .5em;
    outline: none;
    border: 1px solid #0069d9;
}

#btn-holder{
    display: flex;
    justify-content: center;
}

#btn-holder > *{
    flex: 1 1 auto;
    margin: 0 2.5%;
}

input.btn, a.btn {
    color: white;
    background-color: #0069d9;
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
}

.btn:hover {
	color: white;
	background-color: #0054ad;
	border: inset 1px solid #003064;
}