.box {
	margin: 100px auto;
	padding: 10px;
	display: block;
	width: 200px;
	height: 250px;
	background: #fff;
	text-align: center;
	border-radius: 40px;
	background-color: rgba(255, 255, 255, 0.9);
}

.background {
	background: fixed;
	display: block;
	background-image: url(../../static/Background_Login.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.btn {
	border-radius: 40px;
	background-color: #37DA1B;
	margin: 2%;
  border: 2px solid black;
  padding: 5px 5px;
}

h2 span{
    text-shadow: 1px 0px black, 0px 1px black, -1px 0px black, 0px -1px black;
}